<html ng-app="idoco">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="./idoco.js"> </script>
    <script src="./modernizr.custom.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/characters/normalize.css" />
    <link rel="stylesheet" type="text/css" href="styles/characters/demo.css" />
    <link rel="stylesheet" type="text/css" href="styles/characters/component.css" />
    <link rel="stylesheet" href="./styles/idoco.css">
    <link rel="stylesheet" href="./styles/planet.css">
    <link rel="stylesheet" href="./styles/material/material.min.css">
    <script src="./styles/material/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./favicon.ico">

</head>

<body>
<div id="mainwrap" class="flex-container" ng-controller="Ctrl">
    <!--fork me link-->
    <a href="https://github.com/yigaldviri/idoco/" class="hide-on-med-and-down">
        <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"
             class="fork-me-link" alt="Fork me on GitHub">
    </a>

    <header>
        <ul class="social-network social-circle">
            <li><a href="http://idoco.github.io/map-chat" target="_blank" title="Map Chat"><img src="./favicon.ico" alt=""></a></li>
        </ul>
        <div style="display: block">
            <!-- Title -->
            <h1 id="title-idoco" class="mdl-layout-title"><b>IDOCO</b></h1>
            <div class="mdl-layout-title">Was our manager</div>
        </div>
    </header>



    <div id="content" class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect stretch" ng-class="{'planet-background' : state === 'profile'}">
        <div class="mdl-tabs__tab-bar" ng-class="{'planet-title' : state === 'profile'}">
            <a ng-click="state='profile'" href="#profile" class="mdl-tabs__tab is-active">Profile</a>
            <a ng-click="state='contact'" href="#contact" class="mdl-tabs__tab">Favorite GIF</a>
            <a ng-click="state='graph'"   href="#graph"   class="mdl-tabs__tab">Appreciation Graph</a>
            <a ng-click="state='song'"    href="#song"    class="mdl-tabs__tab">Favorite Song</a>
        </div>

        <div id="mdl-layout__content">
            <!-------- PROFILE -------->
            <div ng-if="state=='profile'" id="profile" class="mdl-tabs__panel" ng-class="{'is-active' : state === 'profile'}">
                <div>

                    <table id="bioinfo">
                        <tbody>
                            <tr>
                                <td class="odd">Name</td>
                                <td class="even">Idoco</td>
                            </tr>
                            <tr>
                                <td class="odd">Nationality</td>
                                <td class="even">Ginger</td>
                            </tr>
                            <tr>
                                <td class="odd">IQ</td>
                                <td class="even">196</td>
                            </tr>
                            <tr>
                                <td class="odd">Best Friend</td>
                                <td class="even">Zehava Galo'n</td>
                            </tr>
                            <tr>
                                <td class="odd">Hobbies</td>
                                <td class="even">As a descended of the High jewish ginger holy priests family he loves to make sacrifices in the holy temple and cure people from leprosy</td>
                            </tr>
                            <tr>
                                <td class="odd">Where is Benny?</td>
                                <td class="even">There is no Benny</td>
                            </tr>
                            <tr>
                                <td class="odd">Languages</td>
                                <td class="even">English, Hebrew, Everything that compiles, everything that doesn't</td>
                            </tr>
                            <tr>
                                <td class="odd">Knowledge</td>
                                <td class="even">Google. the entire archive.</td>
                            </tr>
                            <tr>
                                <td class="odd">Role models</td>
                                <td class="even">Einstein, Hawking, Newton, Turing, Walter Lewin, Bennet (brother), Miron, Amir Benayun, The Shadow, Shimon Parnas, Eli Luzon, Rachely Rotner, Moshe katzav, Liran "grey-shirt"</td>
                            </tr>
                            <tr>
                                <td class="odd">Moto</td>
                                <td class="even">A developer who doesn't know his past, his present is thin and his future is vague</td>
                            </tr>
                            <tr>
                            <td class="odd">Extra</td>
                            <td class="even">
                                <ul>
                                    <li>Idoco never talks about fight club</li>
                                    <li>Idoco lets the wookiee win</li>
                                    <li>Idoco shoots, doesn't talk</li>
                                    <li>Idoco knows exactly what Marcellus Wallace looks like (not like a bitch)</li>
                                    <li>Frankly, does give a damn</li>
                                </ul>
                            </td>
                            </tr>
                            <tr>
                                <td class="odd">What's the thing with the solar system?</td>
                                <td class="even">I had no option. Sharon just delivered it and i didn't want to upset him so I left it.</td>
                            </tr>
                        <tr><td></td><td><div class="solar-syst">
                            <div class="sun"></div>
                            <div class="mercury"></div>
                            <div class="venus"></div>
                            <div class="earth"></div>
                            <div class="mars"></div>
                            <div class="jupiter"></div>
                            <div class="saturn"></div>
                            <div class="uranus"></div>
                            <div class="neptune"></div>
                            <div class="pluto"></div>
                            <div class="asteroids-belt"></div>
                        </div></td></tr>
                        </tbody>
                    </table>
                </div>


            </div>

            <!-------- CONTACT -------->
            <div ng-if="state=='contact'" id="contact" class="mdl-tabs__panel">
                <div id="diapo">
                    <!----------------img01------------------->
                    <div>
                        <input type="radio" id="check_1" name="check" class="r_check">
                        <label for="check_1" class="on_check">
                            <img class="vignette" src="./resources/1.png" alt="">
                        </label>
                        <img class="big_image" style="width: 35%" src="./resources/1.png" alt="">
                    </div>
                    <!----------------img02------------------->

                    <div>
                        <input type="radio" id="check_2" name="check" class="r_check">
                        <label for="check_2" class="on_check">
                            <img class="vignette" src="./resources/2.gif" alt="">
                        </label>
                        <img class="big_image" src="./resources/2.gif" alt=""></div>
                    <!----------------img03------------------->
                    <div>
                        <input type="radio" id="check_3" name="check" class="r_check">
                        <label for="check_3" class="on_check">
                            <img class="vignette" src="./resources/3.gif" alt="">
                        </label>
                        <img class="big_image" src="./resources/3.gif" alt="">
                    </div>
                    <!----------------img04------------------->
                    <div>
                        <input type="radio" id="check_4" name="check" class="r_check">
                        <label for="check_4" class="on_check">
                            <img class="vignette" src="./resources/4.jpg" alt="">
                        </label>
                        <img class="big_image" src="./resources/4.jpg" alt="">
                    </div>
                    <!----------------img05------------------->
                    <div>
                        <input type="radio" id="check_5" name="check" class="r_check">
                        <label for="check_5" class="on_check">
                            <img class="vignette" src="./resources/5.png" alt="">
                        </label>
                        <img class="big_image" style="width: 35%" src="./resources/5.png" alt="">
                    </div>
                    <!----------------img06------------------->
                    <div>
                        <input type="radio" id="check_6" name="check" class="r_check">
                        <label for="check_6" class="on_check">
                            <img class="vignette" src="./resources/6.PNG" alt="">
                        </label>
                        <img class="big_image" style="width: 70%" src="./resources/6.PNG" alt=""></div>
                    <!----------------img07------------------->

                    <div>
                        <input type="radio" id="check_7" name="check" class="r_check">
                        <label for="check_7" class="on_check">
                            <img class="vignette" src="./resources/7.png" alt="">
                        </label>
                        <img class="big_image" style="width: 35%" src="./resources/7.png" alt=""></div>
                    <!----------------img08------------------->
                    <div>
                        <input type="radio" id="check_8" name="check" class="r_check">
                        <label for="check_8" class="on_check">
                            <img class="vignette" src="./resources/8.gif" alt="">
                        </label>
                        <img class="big_image" src="./resources/8.gif" alt="">
                    </div>
                    <!----------------img09------------------->
                    <div>
                        <input type="radio" id="check_9" name="check" class="r_check">
                        <label for="check_9" class="on_check">
                            <img class="vignette" src="./resources/9.PNG" alt="">
                        </label>
                        <img class="big_image" src="./resources/9.PNG" alt="">
                    </div>
                    <!----------------img10------------------->
                    <div>
                        <input type="radio" id="check_10" name="check" class="r_check" checked="checked">
                        <label for="check_10" class="on_check">
                            <img class="vignette" src="./resources/10.gif" alt="">
                        </label>
                        <img class="big_image" src="./resources/10.gif" alt="">
                    </div>
                    <!----------------img11------------------->
                    <div>
                        <input type="radio" id="check_11" name="check" class="r_check">
                        <label for="check_11" class="on_check">
                            <img class="vignette" src="./resources/11.jpg" alt="">
                        </label>
                        <img class="big_image" src="./resources/11.jpg" alt="">
                    </div>
                    <!----------------img12------------------->
                    <div>
                        <input type="radio" id="check_12" name="check" class="r_check">
                        <label for="check_12" class="on_check">
                            <img class="vignette" src="./resources/12.jpg" alt="">
                        </label>
                        <img class="big_image" src="./resources/12.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-------- GRAPH -------->

            <div ng-if="state=='graph'" id="graph" class="mdl-tabs__panel">
                <div align="center">
                    <img class="idoco-graph" title="What up, yo?" src="./resources/idoco-graph.PNG"/>
                </div>
            </div>

            <!-------- SONG -------->
            <div ng-if="state=='song'" align="center" id="song" class="mdl-tabs__panel" style="margin: 100px">
                <iframe ng-if="isActive()" width="560" height="315" src="https://www.youtube.com/embed/B-N1yJyrQRY?autoplay=1" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <div id="footer">
        // TODO: Sharon - do we need a footer? also add permission checks, penetration tests and unit testing.
    </div>
</div>
</body>
</html>